.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity .1s
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active
 {
  opacity: 0
}

.gradient {
  background: linear-gradient(
      90deg,
      #297bd2,
      #1eba7d
    );
  transition: background .3s;
}

.gradient-dark {
  background: linear-gradient(
      90deg,
      #1e538c,
      #157b59
    );
  transition: background .3s;
}

a {
    text-decoration: none;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    transition: background-size .3s;
}

a {
  @apply bg-gradient-to-r from-blue to-green;
}


a:hover,
a:focus {
  background-size: 100% 3px;
}

html {
  @apply bg-gray-50;
  font-variant-ligatures: none;
}
